[Unit]
Description=uWSGI instance to serve damn-edge
After=network.target

[Service]
User=USER
Group=USER
WorkingDirectory=/home/USER/damn-edge
Environment="PATH=/home/USER/damn-edge/venv/bin"
ExecStart=/home/USER/damn-edge/venv/bin/uwsgi --ini damn-edge.ini

[Install]
WantedBy=multi-user.target
