<html ng-app="carDamageApp">

<head>
    <link rel='stylesheet' href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/car-damage.css') }}">
</head>

<body popover-close>
    <div ng-controller="mainController" class="container" style="margin-top: 100px">
        <label class="btn btn-default btn-file">
            Browse <input style="display: none;" type="file" ngf-select="onFileSelect($files)" multiple>
        </label>

        <div class="row" style="margin-top: 25px;">
            <div class="col-md-6">
                <ul id="components" class="list-group">
                    <li class="list-group-item active">Componentele masinii</li>
                    <li ng-if="files.length == 0" class="list-group-item"> Nu exista nici o componenta </li>
                    <li ng-repeat="file in files " class="list-group-item " ng-class="{loading: file.hasOwnProperty( 'loading') && file.loading} " data-toggle="popover " data-placement='right' title="{{ ' {{file.name}} ' }} ">
                        <span uib-popover-template="fileSettings.templateUrl" popover-elem popover-title="{{'{{fileSettings.title}}'}}" class="classifier-settings glyphicon glyphicon-cog "> </span>
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate item-loading "> </span>
                        <span uib-popover-html="getImgHtml(file)" popover-placement="right " popover-trigger="'mouseenter'"> {{ ' {{file.name}} ' }} </span>
                        <span uib-popover-template="dynamicPopover.templateUrl" popover-elem popover-title="{{'{{dynamicPopover.title}}'}}" class="badge">{{ ' {{file.classifier}} ' }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6 ">
                <button ng-click="generateReports() " class="btn btn-success btn-block" ng-disabled="!(files.length > 0)"> Generate reports </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class='table'>
                    <caption>
                        <h2> Results </h2>
                    </caption>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Classifier</th>
                            <th>Intact</th>
                            <th>Broken</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='file in files' ng-if="file.hasOwnProperty( 'result')==true ">
                            <td> {{ ' {{ file.name }} ' }} </td>
                            <td> <img ng-src="{{ '{{file.result.url}}'}} " height='100px;' width='auto' /> </td>
                            <td> {{ ' {{ file.classifier }} ' }} </td>
                            <td> {{ ' {{ Math.round(file.result.intact * 100) + "% " }} ' }} </td>
                            <td> {{ ' {{ Math.round(file.result.broken * 100) + "% " }} ' }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script type="text/ng-template" id="changeClassifierTemplate.html">
            <div style="width: 150px">
                <select ng-model="file.classifier" class="form-control" name="classifier">
                    <option ng-repeat="classifier in classifiers" value="{{'{{classifier}}'}}">{{'{{classifier}}'}}</option>
                </select>
            </div>
        </script>

        <script type="text/ng-template" id="fileSettingsTemplate.html">
            <button type="button" class="btn btn-xs btn-danger" ng-click="removeFile(file)"> Remove file </button>
        </script>

        <script type="text/javascript " src="{{ url_for( 'static', filename='bower_components/angular/angular.min.js' ) }} "></script>
        <script type="text/javascript " src="{{ url_for( 'static', filename='js/ui-bootstrap-tpls-2.5.0.min.js' ) }} "></script>
        <script type="text/javascript " src="{{ url_for( 'static', filename='bower_components/ng-file-upload/ng-file-upload.js' ) }} "></script>
        <script type="text/javascript " src="{{ url_for( 'static', filename='js/car-damage.js' )}} "></script>
        <script type="text/javascript " src="{{ url_for( 'static', filename='js/car-damage-directives.js' )}} "></script>
    </div>
</body>

</html>